<configuration>

    <timestamp key="bySecond" datePattern="dd'T'HHmmss"/>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        &lt;!&ndash; encoders are assigned the type-->
<!--             ch.qos.logback.classic.​encoder.PatternLayoutEncoder by default &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>scr/test_logs/log-${bySecond}.log</file>
            <append>true</append>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            </encoder>
        </appender>


    <root level="debug">
<!--        <appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </root>

</configuration>